<br>
<br>
<br>

<div class="container">
  <div class="jumbotron">
<div class="row">
<div class="panel-body">
    <form id="bookForm" ng-submit="addTariff()">
        <table class="table table-bordered" id="hello">

<tr class="warning"><td colspan="2"><h3 style="font-family:sans-serif; font-weight:bolder">ADD TARIFF</h3></td><tr>

          <tr class="success">
            <td class="col-md-4"> Category</td>
            <td class="col-md-4" >
 <select ng-model="tariff.Category" id="category" class="form-control" required>
      <option value="">select category</option>
      <option value="micro">Micro</option>
      <option value="mini">Mini</option>
      <option value="prime">Prime</option>
      <option value="lux">Lux</option>
     </select>


</td>

       </tr>


           <tr class="success"><td>Base Fare</td>
          <td >        <input type="text" class="form-control" id="baseFare" placeholder="Enter Base Fare" ng-model="tariff.Basefare" required/>
</td>
          </tr>
          <tr class="success">
            <td>Distance Fare</td>
            <td>       <input type="text" class="form-control" id="distanceFare" placeholder="Enter Distance Fare" ng-model="tariff.Distancefare" required/>
</td>
          </tr>






          <tr class="success">
              <td >Start Peak Time</td>
            <td>
                        <input id='timepicker1' type='text' name='timepicker' class="form-control" required />
</td>
          </tr>



          <tr class="success">
              <td >End Peak Time</td>
            <td>
                                 <input id='timepicker2' type='text' name='timepicker' class="form-control" required/>

</td>
          </tr>

          <tr class="success">
              <td >Peak Fare</td>
              <td>            <input type="text" class="form-control" id="peakFare" placeholder="Enter Peak Fare" ng-model="tariff.Peakfare" required>

              </td>
          </tr>
          <tr>
              <td colspan="2">  <center>    <button  class="btn btn-warning" style="width: 100%;">Submit</button></center>
          </tr>

        </table>
      </form>
  </div>

</div>
</div>
</div>
</div>

</div>
</div>
</div>





<h1 style="font-family:sans-serif; font-weight:bolder">VIEW TARIFF DETAILS</h1>
    <div><br></div>
      <div class="row">
        <div class="col-md-12">
         <div class="table-responsive">
          <table id="mytable" class="table table-bordred ">
             <thead>
                    <th>CATEGORY</th>
                    <th>BASE FARE</th>
                    <th>DISTANCE FARE</th>

                    <th>START PEAK TIME</th>
                    <th>END PEAK TIME</th>
                    <th>PEAK FARE</th>
                    <th>EDIT</th>
                    <th>Delete</th>
                </thead>
                <tbody>
               <tr ng-repeat="d in TariffList">
                        <td>{{d.Category}}</td>
                        <td>{{d.BaseFare}}</td>
                        <td>{{d.DistanceFare}}</td>

                        <td>{{d.StartPeakTime}}</td>
                        <td>{{d.EndPeakTime}}</td>
                        <td>{{d.PeakFare}}</td>

    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary" data-title="Edit" ng-click="getTariffById(d)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></p></td>
                        <td><button class="btn btn-danger"  ng-click="deleteTariff(d)" ><i class="fa fa-times" aria-hidden="true"></i></button></p></td>
                 </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>






<div class="modal fade" id="editTariff" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
            <form >

                <table class="table table-bordered" id="hello">

               <tr ><td colspan="2" style="font-family:sans-serif; font-weight:bolder">EDIT TARIFF</td><tr>

                           <tr class="success">
                             <td class="col-md-4"> Category</td>
                             <td class="col-md-4" >
                <select ng-model="getTariff.Category" id="cat" class="form-control" >
                       <option value=""></option>
                       <option value="micro">Micro</option>
                       <option value="mini">Mini</option>
                       <option value="prime">Prime</option>
                       <option value="lux">Lux</option>
                      </select>

               </td>

             </tr>
             <tr class="success">
                          <td>Base Fare</td>
                          <td>       <input type="text" class="form-control" id="bFare" placeholder="Enter Distance Fare" ng-model="getTariff.BaseFare"/>
            </td>
                        </tr>
             <tr class="success">
                          <td>Distance Fare</td>
                          <td>       <input type="text" class="form-control" id="dFare" placeholder="Enter Distance Fare" ng-model="getTariff.DistanceFare"/>
            </td>
                        </tr>



                        <tr class="success">
                            <td >Start Peak Time</td>
                          <td>
                                      <input id='timepicker3' type='text' name='timepicker' class="form-control"  />
            </td>
                        </tr>



                        <tr class="success">
                            <td >End Peak Time</td>
                          <td>
                                               <input id='timepicker4' type='text' name='timepicker' class="form-control" />

            </td>
                        </tr>

                        <tr class="success">
                            <td >Peak Fare</td>
                            <td>            <input type="text" class="form-control" id="pFare" placeholder="Enter Base Fare" ng-model="getTariff.PeakFare" >
                            </td>
                        </tr>



           </table>


    </form>
        </div>




    <div class="modal-footer ">
          <button type="button" ng-click="editTariff(getTariff)" class="btn btn-warning btn-lg" style="width: 100%;"> Update</button>
        </div>
          </div>
      <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
      </div>
