
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					WELCOME TO HASSLE-FREE CAB BOOKING EXPERIENCE.
				</h2>
				<div class="row">
					<div class="col-md-3">
						<img alt="Bootstrap Image Preview" src="./public/Img/cabmouse.jpg" class="img-thumbnail" />
					</div>
					<div class="col-md-9">
				<p>
					We are pioneer in the car rental industry with the expertise to deliver the best in class car hire.</p>
        <p>  &nbsp;&nbsp;&nbsp;It is a user friendly portal and facilitates cab booking in just few clicks.
					It gives you the liberty to choose a vehicle type as per your budget and requirement.
					You travel to your favorite places with ease and in optimal time by opting for cab booking service at "Namma Cab"
					 Please click on "Book NOW" button to proceed further.Feel comfortable with us and
          "ENJOY OUR RIDES!!!"
				</p>
			</div>
			</div>
				<p>
              <a href="#/start">  <img src ="./public/Img/data/book.png"/></a>
				</p>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">

			<img alt="Bootstrap Image Preview" src="./public/Img/data/home2.jpg" class="img-thumbnail" />
		</div>
		<div class="col-md-4">
			<h1>
				Promise of Quality
			</h1>
			<ol>
				<h4><li>Safe & Secured Cabs</li></h4>
				<h4><li>In-Time pick-up</li></h4>
				<h4><li>All Verified Drivers</li></h4>
				<h4><li>GPS Enabled</li></h4>
	</ol>
		</div>
		<div class="col-md-4">
			<h1>
				Get in touch with Us:
			</h1>
			<p>
				<b>Maha</b>
        <br>
				Managing Director<br>
#10/17, 6th Cross, 17th 'A' Main, NS Palaya<br>
BTM II Stage, Bangalore - 560076<br><br>
        <br>
				24X7 Support - 080 60 60 88 88<br>
Mobile: +91-99 004 43311<br>
Website: www.nammacab.co.in<br>
eMail: booking@nammacab.co.in<br><br>
			</p>

		</div>
	</div>
</div>
